openai
langchain
langchain-community
langchain-openai
langsmith
python-dotenv
flask
google-generativeai
pdf2image
poppler-utils
opencv-python
pypdf
sentence_transformers
faiss-cpu
deep-translator
lingua-language-detector
iso639-lang